In [1]:
from pyspark import SparkSession

ModuleNotFoundError: No module named 'pyspark'

In [1]:
import findspark

In [2]:
findspark.init('/Users/kiranrudresha/Documents/spark/spark-2.2.0-bin-hadoop2.7')

In [3]:
from pyspark.sql import SparkSession

In [4]:
Spark=SparkSession.builder.appName('null').getOrCreate()

In [5]:
df = Spark.read.csv('/Users/kiranrudresha/Documents/spark/pyspark/Python-and-Spark-for-Big-Data-master/Spark_DataFrames/ContainsNull.csv', 
                     inferSchema=True,header=True)

In [7]:
df.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [10]:
df.na.drop().show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp4|Cindy|456.0|
+----+-----+-----+

In [19]:
#set threshold . delete row which does not have 2 non null values in the row
df.na.drop(thresh=2).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [13]:
df.na.drop().show()
# Drop any rows which contain null value

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp4|Cindy|456.0|
+----+-----+-----+

In [21]:
df.na.drop(how='any').show()
# delete if there is any null value in row

df.na.drop(how='all').show()
# drop row if all values are null

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp4|Cindy|456.0|
+----+-----+-----+

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [12]:
df.na.drop(subset=['sales']).show()
#

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [13]:
df.printSchema()

root
 |-- Id: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sales: double (nullable = true)

In [16]:
df.na.fill('not null').show()
df.na.fill(0).show()

+----+--------+-----+
|  Id|    Name|Sales|
+----+--------+-----+
|emp1|    John| null|
|emp2|not null| null|
|emp3|not null|345.0|
|emp4|   Cindy|456.0|
+----+--------+-----+

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|  0.0|
|emp2| null|  0.0|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [18]:
df.na.fill('not null', subset=['name']).show()
# control to fill null values on particular column

+----+--------+-----+
|  Id|    Name|Sales|
+----+--------+-----+
|emp1|    John| null|
|emp2|not null| null|
|emp3|not null|345.0|
|emp4|   Cindy|456.0|
+----+--------+-----+

In [27]:
from pyspark.sql.functions import mean

In [42]:
df.select(mean(df['sales'])).collect()[0][0]

400.5

meanr

In [38]:
df.na.fill(df.select(mean(df['sales'])).collect()[0][0], ['sales']).show()
# single line to populate wissing values with mean value

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|400.5|
|emp2| null|400.5|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+